{{! Use the main layout }}
{{!< main }}

<section class="login-register">
    <section class = "login-area">
        <h2>Login</h2>
        <!-- errors will appear here -->
        {{#if loginError}}
            <p style="color: red;">{{loginError}}</p>
        {{/if}}
        <a href="/auth/google">Login with Google</a>
        {{!-- <form action="/login" method="POST">
            <!-- the login form goes here --> 
            <input type="text" name="username" placeholder="Username" required>       
            <button type="submit">Login</button>
        </form> --}}
    </section>

    <!-- say --OR-- ... with style -->

    <section class = "register-area">
        <h2>Register</h2>
        <!-- errors will appear here -->
        {{#if regError}}
            <p style="color: red;">{{regError}}</p>
        {{/if}}
        <a href="/auth/google">Register with Google</a>
        {{!-- <form action="/register" method="POST">
            <!-- the registration form goes here -->
            <input type="text" name="username" placeholder="Username" required>
            <input type="text" name="hashedGoogleId" placeholder="Google ID" required>
            <button type="submit">Register</button>
        </form> --}}
    </section>
</section>